<<<<<<< HEAD
.error {
  color: #FF0000;
  border: 1px solid #FF0000;
=======

/*-----------  Error --------------------*/
.error {
  border: 1px solid red;
}
.errorMessage{
  color: red;
  font-size: 10px;
>>>>>>> developer
}
