/* --------------------------- Fonts ---------------------------------------- */
@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}
/* --------------------------- Busquedas -------------------------------------- */

.btn2 {
  width: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;
}
/* --------------------------- General -------------------------------------- */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body,
html {
	height: 100%;
	font-family: Ubuntu-Regular, sans-serif;
}
input {
	outline: none;
	border: none;
}
label {
  display: block;
  margin: 0;
}
form {
  width: 100%;
  display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
  -webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
button {
	outline: none;
	border: none;
  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  background-color: #827ffe;
  border-radius: 3px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
a {
  font-family: Ubuntu-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
  text-decoration: none;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

/* --------------------------- Contenedores --------------------------------- */
.main-container {
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  padding: 60px 12px;
}
.wrap {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}
.wrap-input {
  width: 100%;
  position: relative;
  background-color: #e6e6e6;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-bottom: 16px;
}

/* --------------------------- Clases --------------------------------------- */
.inputc {
  font-family: Ubuntu-Bold;
  color: #403866;
  line-height: 1.2;
  font-size: 18px;
  display: block;
  width: 100%;
  background: transparent;
  height: 62px;
  padding: 0 20px 0 38px;
}
.form-title {
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 51px;
}
.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-end;
	-ms-align-items: right;
	align-items: right;
  padding-top: 3px;
  padding-bottom: 24px;
}
.btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;
}
.forgot {
  padding-top: 12px;
}
.forgot span {
  font-family: Ubuntu-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #999999;
}
.forgot a {
  font-family: Ubuntu-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}
.create {
  padding-top: 30px;
}
.create a {
  font-family: Ubuntu-Regular;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

/* --------------------------- Animaciones ---------------------------------- */
button:hover {
	cursor: pointer;
  background-color: #403866;
}
input:focus {
  border-color: transparent;
}
input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #8f8fa1;
}

a:focus {
	outline: none;
}

a:hover {
	text-decoration: none;
  color: #5076c8;
}
.focus-input {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #827ffe;
  border-radius: 3px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}
.inputc:focus + .focus-input {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
html, body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}
a {
    color: inherit;
    text-decoration: none;
}
span {
  color: black;
  font-size: 26px;
}
header {
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}
footer {
  padding-top: 64px;
  padding-bottom: 64px;
  color: #fff;
  background-color: #000;
}
.navigation {
  width: 100%;
  display: block;
  position: static;
  color: #000;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
  0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.item {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}
.item:hover {
  color: #000;
  background-color: #ccc;
}
#logo {
  letter-spacing: 4px;
}
.options {
  float: right;
}
.container {
  padding: 0px 16px;
  padding-top: 60px;
}
.center {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.container p {
  font-size: 18px;
}
.features {
  margin-top: 64px;
  padding: 0 8px;
}
.feature {
  width: 24%;
  float: left;
}
#information {
  padding: 30px 60px;
  color: #000;
  background-color: #f1f1f1;
}
#team {
  padding: 40px 16px;
}
#work {
  padding: 40px 16px;
}
#compatibility {
  color: #fff;
  background-color: #616161;
  padding: 20px 16px;
}
.box {
  float: left;
  width: 24%
}
.colorlink:hover {
    color: #5EA9FF;
}

@media (max-width: 600px) {
  .main-container {
    padding: 40px 5px;
  }
  .feature {
    width: 100%;
  }
  .box {
    width: 100%;
  }
  .item {
    padding: 6px 4px;
  }
}
