/*-------------------------------------------*/
/*------------- SIGN UP SECTION -------------*/
/*-------------------------------------------*/

/* ----------------- GENERALS ------------------*/
* {
	background-image: url(images/fondo.jpg);
	background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 90%;
  border-radius: 10px;
}

section {
  background-color: #EEE;
  width: 43%;
  height: auto;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

section h1 {
  text-align: center;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section h2 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    word-spacing: 1px;
    font-size: 1em;
}
